body{
    background-image: url("../images/cubes.jpg")
}
div{
    margin: auto;
}

button{
    margin: 15px;
}
.answer:active{
    background-color: blue;
}
.answer:focus{
    background-color: blueviolet;
}

.submit{
    display: flex; 
    justify-content: center;  
    margin: 20px;
}